ul,li {
    list-style: none;
 }
 a {
    text-decoration: none;
    color: inherit;
 }
 img {
    max-width: 100%;
    vertical-align: bottom;
 }
 html {
    font-size: 62.5%;
 }
 
 #review-box{
    margin-bottom: 50px;
    width:80px;
 }
 
 .fa-solid fa-thumbs-up{
   color:#FF4A4A;
 }

 button{
   border: none;
   background-color: white;
   text-align:right;
   float:right;
 }
 
 #btn-modify-menu{
    text-align:right;
    float:right;
    font-size: 17px;
    color:#b5b5b5;
 }
 
 #btn-modify-menu:hover{
    color:#FF4A4A;
 }
 
 #wrap{
   width:800px;
 }
 
 .userinfo >a{
   font-size: 12px;
 }
 
 .comment{
     background:#ffb9b9;
     background-size:cover;
     border-radius: 20px;
     width: 100%;
     font-size: 15px;
     padding : 10px;
   }

   .redstar{
      font-size : 300%;
      color:#FF4A4A;
   }
   
   .graystar{
      font-size : 175%;
      color:#b5b5b5;
   }
   
   .stars {
      display:inline-block;
      width:auto;
      position:relative;
      font-size:25px;
      border-radius:5px;
      margin:5px;
   }
   
   .stars:BEFORE {
      content:"★★★★★";
      position:absolute;
      overflow:hidden;
      z-index:1;
      left:0px;
      top:0px;
      bottom:-5px;
      color:#FF4A4A;
      text-shadow:0px 0px 0 #000, -1px 0 #fff;
   }
   
   .stars:AFTER {
      content:"★★★★★";
      position:relative;
      color:#b5b5b5;
   }
   
   .stars.rate > A {
      color:transparent;
      text-decoration:none;
      position:relative;
      z-index:2;
   }
   
   .stars:NOT([data-percent]):BEFORE,
   .stars[data-percent="0"]:BEFORE {
       display:none;
   }
   .stars[data-percent="10"]:BEFORE {
       width:10%;
   }
   .stars[data-percent="20"]:BEFORE {
       width:20%;
   }
   .stars[data-percent="30"]:BEFORE {
       width:30%;
   }
   .stars[data-percent="40"]:BEFORE {
       width:40%;
   }
   .stars[data-percent="50"]:BEFORE {
       width:50%;
   }
   .stars[data-percent="60"]:BEFORE {
       width:60%;
   }
   .stars[data-percent="70"]:BEFORE {
       width:70%;
   }
   .stars[data-percent="80"]:BEFORE {
       width:80%;
   }
   .stars[data-percent="90"]:BEFORE {
       width:90%;
   }
   .stars[data-percent="100"]:BEFORE {
       width:100%;
   }

   .table_review{
      text-align : left;
      width : 750px;
      font-size : 120%;
      line-height : 100%;
      /* margin : 0px 600px 0px 150px; */
   }
   
   .writeuser{
      width : 150px;
   }

   .writestar{
      width : 125px;
   }

   .writescore{
      width : 475px;
      text-align : left;
   }
   
   .writedate{
      width : 50px;
   }

   .reviewImage{
      width:550px;
      height:190px;
      padding : 10px;
      text-align : left;

   }
   /* 내부 이미지는 170*170 최대 3개*/
   .reviewImage img{
      width : 250px;
      height : 170px;
      padding : 0 10px 0 0;
   }

   #btn-modify-agree{
      object-fit: cover;
      text-align:right;
      float:right;
      color:#b5b5b5;
   }
   
   #btn-modify-agree:hover{
      color:#FF4A4A;
   }

   #agree_num_text{
      padding-top : 11px;
      color:#8e8e8e;
   }

   .btn_agree_img{
      font-size : 140%;
      text-align: center;
      padding-bottom: 10px;
   }

   .agree{
      display:flex;
      flex-direction: row-reverse;
   }

   hr{
      width : 900px;
   }