hr{
	width : 900px;
 }
 
 .main-wrap{
    margin: 0px 220px 0px 220px;
    align-items: center;
}
.main_image {
	position: relative;
	width : 100%;
}

.main_image_text {
    font-family: 'Noto Serif KR', serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	color: #000000;
	font-size : 50px;
	  }

.now{
	color : #FF4A4A;
}

a:link {
	  color : #b5b5b5;
}

a:hover{
	  color : #FF4A4A;
}

like:clicked{
	color : #FF4A4A;
}

#check-btn { display: none; }

#check-btn:checked ~ .like { 
   	color : #FF4A4A;
}

.like{
	float : right;
	width : 15%;
	font-size : 110%;
	color : #b5b5b5;
}

html,body,h1,h2,p,dl,dt,dd {
	margin: 0;
	padding: 30;
	line-height: 1.0;
	box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

.rader-chart {
	margin: 0 auto;
	float : left;
	width : 50%;
	margin-bottom:20px;
	margin-left:40px;
	height : 350px;
}

.part {
    width:auto;
    float:left;
    margin: 10px 100px;
    align-items: center;
    text-align : center;
}

.modifylink{
	font-size: 12px;
	float : right;
	color:#b5b5b5;
}

.redstar{
	font-size : 300%;
	color:#FF4A4A;
}

.graystar{
	font-size : 175%;
	color:#b5b5b5;
}

.stars {
	display:inline-block;
	width:auto;
	position:relative;
	font-size:28px;
	border-radius:5px;
	margin:5px;
}

.stars:BEFORE {
	content:"★★★★★";
	position:absolute;
	overflow:hidden;
	z-index:1;
	left:0px;
	top:0px;
	color:#FF4A4A;
	text-shadow:0px 0px 0 #000, 0 -1px 0 #fff;
}

.stars:AFTER {
	content:"★★★★★";
	position:relative;
	color:#b5b5b5;
}

.stars.rate > A {
	color:transparent;
	text-decoration:none;
	position:relative;
	z-index:2;
}

.stars:NOT([data-percent]):BEFORE,
.stars[data-percent="0.0"]:BEFORE {
    display:none;
}
.stars[data-percent="0.1"]:BEFORE {
    width:5.5%;
}
.stars[data-percent="0.2"]:BEFORE {
    width:7%;
}
.stars[data-percent="0.3"]:BEFORE {
    width:8%;
}
.stars[data-percent="0.4"]:BEFORE {
    width:9%;
}
.stars[data-percent="0.5"]:BEFORE {
    width:10%;
}
.stars[data-percent="0.6"]:BEFORE {
    width:11.5%;
}
.stars[data-percent="0.7"]:BEFORE {
    width:12.5%;
}
.stars[data-percent="0.8"]:BEFORE {
    width:14%;
}
.stars[data-percent="0.9"]:BEFORE {
    width:16%;
}
.stars[data-percent="1.0"]:BEFORE {
    width:20%;
}
.stars[data-percent="1.1"]:BEFORE {
    width:25.5%;
}
.stars[data-percent="1.2"]:BEFORE {
    width:27%;
}
.stars[data-percent="1.3"]:BEFORE {
    width:28%;
}
.stars[data-percent="1.4"]:BEFORE {
    width:29%;
}
.stars[data-percent="1.5"]:BEFORE {
    width:30%;
}
.stars[data-percent="1.6"]:BEFORE {
    width:31.5%;
}
.stars[data-percent="1.7"]:BEFORE {
    width:32.5%;
}
.stars[data-percent="1.8"]:BEFORE {
    width:34%;
}
.stars[data-percent="1.9"]:BEFORE {
    width:36%;
}
.stars[data-percent="2.0"]:BEFORE {
    width:40%;
}
.stars[data-percent="2.1"]:BEFORE {
    width:45.5%;
}
.stars[data-percent="2.2"]:BEFORE {
    width:47%;
}
.stars[data-percent="2.3"]:BEFORE {
    width:48%;
}
.stars[data-percent="2.4"]:BEFORE {
    width:49%;
}
.stars[data-percent="2.5"]:BEFORE {
    width:50%;
}
.stars[data-percent="2.6"]:BEFORE {
    width:51.5%;
}
.stars[data-percent="2.7"]:BEFORE {
    width:52.5%;
}
.stars[data-percent="2.8"]:BEFORE {
    width:54%;
}
.stars[data-percent="2.9"]:BEFORE {
    width:56%;
}
.stars[data-percent="3.0"]:BEFORE {
    width:60%;
}
.stars[data-percent="3.1"]:BEFORE {
    width:65.5%;
}
.stars[data-percent="3.2"]:BEFORE {
    width:67%;
}
.stars[data-percent="3.3"]:BEFORE {
    width:68%;
}
.stars[data-percent="3.4"]:BEFORE {
    width:69%;
}
.stars[data-percent="3.5"]:BEFORE {
    width:70%;
}
.stars[data-percent="3.6"]:BEFORE {
    width:71.5%;
}
.stars[data-percent="3.7"]:BEFORE {
    width:72.5%;
}
.stars[data-percent="3.8"]:BEFORE {
    width:74%;
}
.stars[data-percent="3.9"]:BEFORE {
    width:76%;
}
.stars[data-percent="4.0"]:BEFORE {
    width:80%;
}
.stars[data-percent="4.1"]:BEFORE {
    width:85.5%;
}
.stars[data-percent="4.2"]:BEFORE {
    width:87%;
}
.stars[data-percent="4.3"]:BEFORE {
    width:88%;
}
.stars[data-percent="4.4"]:BEFORE {
    width:89%;
}
.stars[data-percent="4.5"]:BEFORE {
    width:90%;
}
.stars[data-percent="4.6"]:BEFORE {
    width:91.5%;
}
.stars[data-percent="4.7"]:BEFORE {
    width:92.5%;
}
.stars[data-percent="4.8"]:BEFORE {
    width:94%;
}
.stars[data-percent="4.9"]:BEFORE {
    width:96%;
}
.stars[data-percent="5.0"]:BEFORE {
    width:100%;
}

.revisit{
	color:#b5b5b5;
	padding-top:5px;
}

table{
	text-align : left;
	width : 900px;
	font-size : 120%;
	line-height : 100%;
	
}

tr{
	width : 1000px;
}

th{
	width : 30%;
}

td{
	width : 70%;
}

.image{
	font-size : 150%;
}

.more{
	float : right;
	width : 10%;
}

.food-images{
	width : 1000px;
	height : 160px;
	padding: 0 10px 0 10px;
	overflow : hidden;
	justify-content: space-between;
	flex-direction: row;
}

.food-images img{
	width : 160px; height : 160px;
}

.image-wrap{
	width:1000px;
	padding-left: 150px;
	padding-bottom : 50px;
}