h1{
	font-size: 30px;
	font-weight: lighter;
}
.main-container{
	display:flex;	
	flex-direction: column;
	align-items: center;
    
}
.login-input-section-wrap{
	width: 600px;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #FF4A4A;
}

.login-input-wrap{
	width: 300px;
	height :50px;
	border: solid 1px var(	--border-gray-color );
	background: white;
}
.password-wrap{
	margin-top: 13px;
}
.login-input-wrap input{
	border: none;
	width:250px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
.login-button-wrap {
	padding-top: 13px;
}
.login-button-wrap button{
	width: 80px;
	height :48px;
	font-size: 18px;
	background: var(--naver-green-color);
	color: white;
	border: solid 1px var(--naver-green-border-color);
}