body {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: #FF4A4A;
    display: flex;
    justify-content: center;
}

table {
    width: 55%;
    border-collapse: separate;
    border-spacing: 25px 25px;
    margin-left: auto;;
    margin-right: auto;
}

.td1 {
    width: 150px;
}

.text-area {
    border: 1px solid #a7a7a7;
}

#image-box{
    border: 1px solid #a7a7a7;
    height: auto;
    min-height: 250px;
}

::placeholder,p {
    color: #a7a7a7;
}

li {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.real-upload {
    display: none;
}

.upload {
    color: #a7a7a7;
    font-size: 13px;
    text-align: center;
}

.image-preview {
    gap: 10px;
}