section{
    margin : 50px 220px 0px 220px;
}
.menu-title{
   height: 70px;
}
.restaurant-name{
   display:inline-block;
   max-width:400px;
   font-size:30px;
   color:#FF4A4A;
   line-height:1.462;
}
.menu-title-subMessage{
   font-size:15px;
   width:270px;
   margin-left:10px;
   line-height:1.45;
   letter-spacing:-1px;
}

.menu-textbox{
   margin-top: 20px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu-textbox label{
   width:15%;
   display: inline-block;
   font-size:20px;
   font-style:bold;
   letter-spacing:-1px;
   padding-left: 10px;
}
.menu-text{
   border: 1px solid #a7a7a7;
   height:35px;
   width: 85%;
   font-size:15px;
   margin:auto;
}
.extra-checkbox{
   margin-top:20px;
   padding-left: 10px;
}
input[type="checkbox"]{
   padding-top:10px;
   margin-right:40px;
   width: 17px; 
   height: 17px;
   accent-color:#FF4A4A;
   display: inline-block;
}
.extra-checkbox label{
   margin-top:20px;
   font-size:20;
   position: relative;
   bottom:5px;
   display: inline-block;
}
.menu-button{
   width: 100%;
   margin-top:30px;
   margin-bottom:30px;
   text-align: right;
}
