body {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: #FF4A4A;
    display: flex;
    justify-content: center;
}

.tabel_registerRestaurantInfo {
    width: 60%;
    border-collapse: separate;
    border-spacing: 25px 25px;
    margin-left: auto;;
    margin-right: auto;
}

.td1 {
    width: 140px;
}

.text-area {
    border: 1px solid #a7a7a7;
}

#image-box{
    border: 1px solid #a7a7a7;
    height: auto;
    min-height: 250px;
    margin-bottom: 10px;
}

::placeholder,p {
    color: #a7a7a7;
}

li {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.real-upload {
    display: none;
}

.upload {
    color: #a7a7a7;
    font-size: 13px;
    text-align: center;
}

.image-preview {
    gap: 10px;
}

.goMenubutton {
    color: #696969;
    background-color: #f4f4f4;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 6px 50px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.25s;
}
.goMenubutton:hover {
    color: #ffffff;
    background: #979797;
}
