section{
    margin : 50px 220px 0px 220px;
}
.review-title{
   height: 70px;
}
.restaurant-name{
   display:inline-block;
   max-width:400px;
   font-size:30px;
   color:#FF4A4A;
   line-height:1.462;
}
.review-title-subMessage{
  
   font-size:15px;
   width:270px;
   margin-left:10px;
   line-height:1.45;
   letter-spacing:-1px;
}
.review-grade{
   height: 70px;
   margin-bottom:10px;
}
input[type=range].slider{
   -webkit-appearance: none;
   appearance: none;
   width:90%;
   height:7px;
   outline: none;
   opacity: 0.8;
   transition: opacity;
   box-shadow: 5px 5px 5px gray;
}
input[type=range].slider.slider-progress {
   --range: calc(var(--max) - var(--min));
   --ratio: calc((var(--value) - var(--min)) / var(--range));
   --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}
input[type=range].slider:hover {
   opacity: 1;
}
input[type=range].slider::-webkit-slider-thumb {
   -webkit-appearance: none; 
   appearance: none;
   width: 2em; 
   height: 2em;
   border-radius: 1em;
   background: #FF4A4A; 
   cursor: pointer; 
   box-shadow: 0px 5px 5px gray;
   margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 2em * 0.5);
}
input[type=range].slider::-webkit-slider-runnable-track {
   height: 1em;
   border: 1px solid #b2b2b2;
   border-radius: 0.5em;
   background: #F5F5F5;
   box-shadow: none;
}
input[type=range].slider.slider-progress::-webkit-slider-runnable-track {
   background: linear-gradient(#FF4A4A,#FF4A4A) 0/var(--sx) 100% no-repeat, #F5F5F5;
}
#grade{
   margin-left:30px;
   font-size:25px;
   font-style:bold;
   font-weight:bolder;
   color:#FF4A4A;
}
.keyword{
   margin-top:10px;
   height: 100px;
}
.keyword-subMessage{
   margin-left:5px;
   color:#FF4A4A;
   font-size:15px;
   letter-spacing:-0.5px;
   margin-bottom:15px;
}
.keyword-button{
   background-color:white;
   width:100px;
   height:40px;
   margin-right:15px;
   font-size:15px;
   border:0px;
   box-shadow: 0px 5px 5px lightgray;
   border-radius:30px;
   text-align:center;
   letter-spacing:-1px;
}
.keyword-recheckbox{
   float: right;
   font-size:20px;
   padding-top:5px;
   margin-right:20px;
}
input[type="checkbox"]{
   margin-top:5px;
   width: 20px; 
   height: 20px;
   box-shadow: inset 1px 1px 5px lightgray;
   accent-color:#FF4A4A;
}
.text-boxes{
   margin-top:20px;
   height:250px;
   font-size:15px;
}
.nickname{
   border: 1px solid #ddd;
   padding:5px 10px 5px 10px;
}
.detail-review{
   margin-top:10px;
   padding:10px;
   display:block;
   width:98%;
   height:150px;
   border:0;
   border: 1px solid #ddd;

}
textarea{
   resize : vertical;
   font-family:inherit;
}
.length{
   width: 100%;
   color: #5F6368;
   text-align:right;
}
.picture-upload input[type="file"] {
   position: absolute;
   width: 0;
   height: 0;
   padding: 0;
   overflow: hidden;
   border: 0;
}
.picture-upload label {
   display: inline-block;
   vertical-align: middle;
   border: 1px solid #979797;
   cursor: pointer;
   width:100px;
   height: 100px;
}
#plus{
   font-size:70px;
   font-weight:10;
   color:#979797;
   position: relative;
   top:5px;
   left:25px;
}
.review-button{
   width:100%;
   margin-top:30px;
   margin-bottom:30px;
   text-align: right;
}

