{% extends "detailnavbar.html" %}

{% block main %}
<div class="main-wrap">
  <div class = "midnavs">
    <div class="midnav"><a href="/detail-info/{{name}}">가게정보</a></div> 
        <div class="midnav"><a href="/detail-menu/{{name}}">대표메뉴</a></div> 
        <div class="midnav active"><a href="/detail-review/{{name}}">리뷰조회</a></div> 
  </div>

<!--리뷰 등록하기 버튼-->
  <form action="/review_storeName_post" method="post">
    <input type="hidden" name="store_name" value="{{name}}">
    <button type="submit">
      <div id="btn-modify-menu">
        <a><i class="fa-solid fa-pencil"></i><b>&nbsp;리뷰 등록하기</b></a>
      </div>
    </button>
  </form>


  {% for review in review_data %}
  <table>
    <tr>
        <th class="writeuser">{{review.nickname}}</th>
        <th class="writestar"><div class="stars" data-percent="50"></div></th>
        <th class="writescore">{{review.review_grade}} &nbsp;----------------------------------------------</th>
        <th class="writedate">2022.11.23</th>
    </tr>
    <tr>
      <td></td>
        <td colspan="2">
          <div class="reviewImage">
            <img src="/{{review.reviewImg_path}}">
          </div>
        </td>
        <td class="agree"><button style = "margin-top:auto;">동의</button></td>
    </tr>
    <tr>
      <td></td>
        <td colspan="3">
          <div class="comment">  
            <blockquote>{{review.detail_review}}</blockquote>
        </div></td>
    </tr>
  </table>
  {% endfor %}

</div>
{% endblock main %}
