<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="../static/css/commonStyles.css" />
        <link href="../static/css/detailInfo_restaurantInfo.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/8855691a8d.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

        <title>맛집 상세정보-가게정보</title>
    </head>

    <body>
        <div id="navbar">
            <div id="logo"><a href="mainHome.html">Shareat</a></div>
            <div id="login-or-signup">
                <div><a href="login.html">로그인</a></div>
                <div>|</div>
                <div><a href="signup.html">회원가입</a></div>
            </div>
        </div>
        <header>
            <div class="main_image">
                <img src="../assets/img/tokyo.jpg" alt=Tokyo>
                 <h1 class="main_image_text">유&nbsp;&nbsp;야&nbsp;&nbsp;케&nbsp;&nbsp;도&nbsp;&nbsp;쿄</h1>
            </div>    
        </header>

        <div class="main-wrap">
            <ul class = "midnav">
                <a href="detailInfo_restaurantInfo.html"><U class="now"><b>가게정보</b></U></p></a>
                <a href="detailInfo_menu.html">대표메뉴</a>
                <a href="detailInfo_review.html">리뷰조회</a>
            </ul>

        </body>

            <div class="rader-chart">
                <canvas id="myRaderChart"></canvas>
                <script>
                    var ctx = document.getElementById("myRaderChart");
                    var myRadarChart = new Chart(ctx, {
                        type: 'radar', 
                        data: { 
                            labels: ["맛", "가성비", "서비스", "분위기", "위생"],
                            datasets: [{
                                data: [100, 70, 85, 90, 90],
                                backgroundColor: 'rgba(255, 74, 74, 0.45)',
                                borderColor: '#fe2120',
                                borderWidth: 1,
                                pointBackgroundColor: '#fe2120'
                            }]
                        },
                        options: {
                            scale:{
                                ticks:{
                                    suggestedMin: 0,
                                    suggestedMax: 100,
                                    display : false,
                                    maxTicksLimit: 3
                                   }
                            }
                        },
                    });
                    myRadarChart.options.legend.display = false;
                </script>
            </div>
            <br>
            <br>
            <a href="modifyRestaurantInfo.html" class="modifylink"><h3><i class="fa-solid fa-pencil"></i><b>&nbsp;가게 정보 수정하기</b></h3></a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="part">
                <p> 
                    <span class="redstar"><b>4.5</b></span>
                    <span class="graystar"> / 5.0</span>	
                </p>
                <div class="stars" data-percent="90"></div>
                <br>
                <h3 class="revisit"><b>재방문 의사 92%</b></h3>
            </div>
            <br>
            <hr class= "hr">
            <table class="table">
                <br>
                <tr>
                    <h1><th class="tableh">주소</th>
                    <td class="tabled">서울 서대문구 이화여대3길 28 101호</td></h1>
                </tr>
                <tr>
                    <th>영업시간</th>
                    <td>11:00 ~ 재료 소진 시까지 / 일요일 휴무</td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>02-6401-7991</td>
                </tr>
                <tr>
                    <th>사이트</th>
                    <td>@youyake_tokyo</td>
                </tr>
                <tr>
                    <th>음식 카테고리</th>
                    <td>일식</td>
                </tr>
                <tr>
                    <th>주차여부</th>
                    <td>불가능</td>
                </tr>
                <tr>
                    <th>예약안내</th>
                    <td><b><a href="https://map.naver.com/v5/entry/place/1635954043?c=14131358.6381226,4517178.2417222,13,0,0,0,dh&placePath=%2Fhome%3Fentry=plt">예약하기</a></b></td>
                </tr>
            </table>
            <br>
            <hr class="hr">
            <br>
            <br>
            <p class = "image"><b>사진</b></p>
            <a href="#" class="more"><h3><b>더보기</b></h3></a>
            <br>
            <br>
                <img src="../assets/img/tokyo1.jpg" alt=tokyo class = "foodimages" onclick= "window.open(this.src)">
                <img src="../assets/img/tokyo2.jpg" alt=tokyo class = "foodimages" onclick= "window.open(this.src)">
                <img src="../assets/img/tokyo3.jpg" alt=tokyo class = "foodimages" onclick= "window.open(this.src)">
                <img src="../assets/img/tokyo4.jpg" alt=tokyo class = "foodimages" onclick= "window.open(this.src)">
                <img src="../assets/img/tokyo5.jpg" alt=tokyo class = "foodimages" onclick= "window.open(this.src)">
                <img src="../assets/img/tokyo6.jpg" alt=tokyo class = "foodimages" onclick= "window.open(this.src)">
        </div>	

        <footer>
            <div id="footer-content">
                Team 어서오소    
            </div>
        </footer>
    </body>
</html>