{% extends "detailnavbar.html" %}

{% block main %}
<div class="main-wrap">
  <div class = "midnavs">
    <div class="midnav"><a href="/detail-info/{{name}}">가게정보</a></div> 
    <div class="midnav"><a href="/detail-menu/{{name}}">대표메뉴</a></div> 
    <div class="midnav active"><a href="/detail-reiview/{{name}}">리뷰조회</a></div> 
  </div>


  <div id="btn-modify-menu">
    <a><i class="fa-solid fa-pencil"></i><b>&nbsp;리뷰 등록하기</b></a>
  </div>
  <table>
    <tr>
        <th class="writeuser">ewha2022</th>
        <th class="writestar"><div class="stars" data-percent="50"></div></th>
        <th class="writescore">2.5 &nbsp;----------------------------------------------</th>
        <th class="writedate">2022.11.23</th>
    </tr>
    <tr>
      <td></td>
        <td colspan="2"><div class="reviewImage"><img src="{{ url_for('static', filename='image/tokyo1.jpg')}}" alt=Tokyo><img src="{{ url_for('static', filename='image/tokyo2.jpg')}}" alt=Tokyo></div></td>
        <td class="agree"><button style = "margin-top:auto;">동의</button></td>
    </tr>
    <tr>
      <td></td>
        <td colspan="3">
          <div class="comment">  
            <blockquote>유야케도쿄 처음 가봤는데 맛있었어요! 양도 적당하고 직원도 친절해요. 다음에 친구 데리고 또 갈 의향 있습니다~</blockquote>
        </div></td>
    </tr>
  </table>
  <hr>
  <table>
    <tr>
        <th class="writeuser">ewha2022</th>
        <th class="writestar"><div class="stars" data-percent="50"></div></th>
        <th class="writescore">2.5 &nbsp;----------------------------------------------</th>
        <th class="writedate">2022.11.23</th>
    </tr>
    <tr>
      <td></td>
        <td colspan="2"><div class="reviewImage"><img src="{{ url_for('static', filename='image/tokyo1.jpg')}}" alt=Tokyo><img src="{{ url_for('static', filename='image/tokyo2.jpg')}}" alt=Tokyo></div></td>
        <td class="agree"><button style = "margin-top:auto;">동의</button></td>
    </tr>
    <tr>
      <td></td>
        <td colspan="3">
          <div class="comment">  
            <blockquote>유야케도쿄 처음 가봤는데 맛있었어요! 양도 적당하고 직원도 친절해요. 다음에 친구 데리고 또 갈 의향 있습니다~</blockquote>
        </div></td>
    </tr>
  </table>
  <hr>
  <table>
  <tr>
      <th class="writeuser">ewha2022</th>
      <th class="writestar"><div class="stars" data-percent="50"></div></th>
      <th class="writescore">2.5 &nbsp;----------------------------------------------</th>
      <th class="writedate">2022.11.23</th>
  </tr>
  <tr>
    <td></td>
      <td colspan="2"><div class="reviewImage"><img src="{{ url_for('static', filename='image/tokyo1.jpg')}}" alt=Tokyo><img src="{{ url_for('static', filename='image/tokyo2.jpg')}}" alt=Tokyo></div></td>
      <td class="agree"><button style = "margin-top:auto;">동의</button></td>
  </tr>
  <tr>
    <td></td>
      <td colspan="3">
        <div class="comment">  
          <blockquote>유야케도쿄 처음 가봤는데 맛있었어요! 양도 적당하고 직원도 친절해요. 다음에 친구 데리고 또 갈 의향 있습니다~</blockquote>
      </div></td>
  </tr>
</table>
<hr>
<table>
  <tr>
      <th class="writeuser">ewha2022</th>
      <th class="writestar"><div class="stars" data-percent="50"></div></th>
      <th class="writescore">2.5 &nbsp;----------------------------------------------</th>
      <th class="writedate">2022.11.23</th>
  </tr>
  <tr>
    <td></td>
      <td colspan="2"><div class="reviewImage"><img src="{{ url_for('static', filename='image/tokyo1.jpg')}}" alt=Tokyo><img src="{{ url_for('static', filename='image/tokyo2.jpg')}}" alt=Tokyo></div></td>
      <td class="agree"><button style = "margin-top:auto;">동의</button></td>
  </tr>
  <tr>
    <td></td>
      <td colspan="3">
        <div class="comment">  
          <blockquote>유야케도쿄 처음 가봤는데 맛있었어요! 양도 적당하고 직원도 친절해요. 다음에 친구 데리고 또 갈 의향 있습니다~</blockquote>
      </div></td>
  </tr>
</table>
<hr>
<table>
  <tr>
      <th class="writeuser">ewha2022</th>
      <th class="writestar"><div class="stars" data-percent="50"></div></th>
      <th class="writescore">2.5 &nbsp;----------------------------------------------</th>
      <th class="writedate">2022.11.23</th>
  </tr>
  <tr>
    <td></td>
      <td colspan="2"><div class="reviewImage"><img src="{{ url_for('static', filename='image/tokyo1.jpg')}}" alt=Tokyo><img src="{{ url_for('static', filename='image/tokyo2.jpg')}}" alt=Tokyo></div></td>
      <td class="agree"><button style = "margin-top:auto;">동의</button></td>
  </tr>
  <tr>
    <td></td>
      <td colspan="3">
        <div class="comment">  
          <blockquote>유야케도쿄 처음 가봤는데 맛있었어요! 양도 적당하고 직원도 친절해요. 다음에 친구 데리고 또 갈 의향 있습니다~</blockquote>
      </div></td>
  </tr>
</table>
</div>
{% endblock main %}