{% extends "detailnavbar.html" %}

{% block main %}
<div class="main-wrap">
  <div class = "midnavs">
    <div class="midnav"><a href="/detail-info/{{name}}">가게정보</a></div> 
        <div class="midnav"><a href="/detail-menu/{{name}}">대표메뉴</a></div> 
        <div class="midnav active"><a href="/detail-review/{{name}}">리뷰조회</a></div> 
  </div>

  {% if session['id'] %}
  <!--리뷰 등록하기 버튼-->
  <form action="/review_storeName_post" method="post">
    <input type="hidden" name="store_name" value="{{name}}">
    <button type="submit">
      <div id="btn-modify-menu">
        <a><i class="fa-solid fa-pencil"></i><b>&nbsp;리뷰 등록하기</b></a>
      </div>
    </button>
  </form>
  {% else %}
  <!--리뷰 등록하기 버튼-->
  <button onclick="alertDialogBox()">
    <div id="btn-modify-menu">
      <a><i class="fa-solid fa-pencil"></i><b>&nbsp;리뷰 등록하기</b></a>
    </div>
  </button>
  <script>
    function alertDialogBox() {alert("로그인 후 리뷰 등록 가능합니다. 로그인을 해주세요!");}
  </script> 
  {% endif %}

  <br>
  <br>
  <br>
  <br>
  <br>
  {% if total>0 %}

  {% for review in review_data %}
  <table class="table_review">
    <tr>
        <th class="writeuser">{{review.nickname}}</th>
        <th class="writestar"><div class="stars" data-percent={{review.review_grade}}></div></th>
        <th class="writescore">{{review.review_grade}} &nbsp;----------------------------------------------</th>
        <th class="writedate">{{review.timestamp}}</th>
    </tr>
    <tr>
      <td></td>
        <td colspan="3">
          <div class="reviewImage">
            <img src="/{{review.reviewImg_path}}">
          </div>
        </td>
    </tr>
    <tr>
      <td></td>
        <td colspan="3">
          <div class="agree">
            <!--
              <form action="/submit_review_agree_userId" method="post">
              <input type="hidden" name="review_agree_userId" value="{{session['id']}}">
              <button type="submit" style = "margin-top:auto;">동의</button></input>
              <input type="hidden" name="store_name" value="{{name}}">
            </form>
            -->
            <button style = "margin-top:auto;">동의</button></input>
          </div>
          <div class="comment">  
            <blockquote>{{review.detail_review}}</blockquote>
        </div></td>
    </tr>
  </table>
  {% endfor %}

{% else %}
<p>아직 등록된 맛집이 없어요. 맛집을 등록해 주세요!</p>
{% endif %}

</div>
{% endblock main %}
