{% extends "detailnavbar.html" %}

{% block main %}
{% with mesg = get_flashed_messages() %}
    {% if mesg !=[] %}
        <script>alert("{{ mesg[0] }}")</script>
    {% endif %}
{% endwith %}
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<div class="main-wrap">
    <div class = "midnavs">
        <div class="midnav active"><a href="/detail-info/{{name}}">가게정보</a></div> 
        <div class="midnav"><a href="/detail-menu/{{name}}">대표메뉴</a></div> 
        <div class="midnav"><a href="/detail-review/{{name}}">리뷰조회</a></div> 
    </div>
    {% if session['id'] %}
        <form action="/submit_like_post" method="post">
            <div class="like">
                <input type="hidden" name="store_name" value="{{name}}">
                <input type="hidden" name="userId" value="{{session['id']}}">
                <button id="likebutton" type="submit" formmethod="POST"><i class="fa-solid fa-heart fa-3x"></i><br>찜하기</button>
            </div>
        </form> 
        <script>
            window.onload=function(){
                if ("{{session['id']}}"!=" "){
                    if ({{likechecked}}){
                        document.getElementById("likebutton").style.color = "#FF4A4A";
                    }else{
                        document.getElementById("likebutton").style.color = "#b5b5b5;";
                    }
                }
                else{
                    
                }
            }
        </script>
    {% else %}
        <div class="like">
            <button id="likebutton" onclick="alertDialogBox()"><i class="fa-solid fa-heart fa-3x"></i><br>찜하기</button>
        </div>
        <script>
            function alertDialogBox() {alert("로그인 후 사용 가능합니다. 로그인을 해주세요!");}
        </script> 
    {% endif %}
    <div class="rader-chart">            
        <canvas id="myRaderChart"></canvas>
        <script>
            var ctx = document.getElementById("myRaderChart");
            var myRadarChart = new Chart(ctx, {
                type: 'radar', 
                data: { 
                    labels: ["맛", "가성비", "서비스", "분위기", "위생"],
                    datasets: [{
                        data: [{{data.info.store_taste}}, {{data.info.store_cost}}, {{data.info.store_service}}, {{data.info.store_atmosphere}}, {{data.info.store_cleanliness}}],
                        backgroundColor: 'rgba(255, 74, 74, 0.45)',
                        borderColor: '#fe2120',
                        borderWidth: 1,
                        pointBackgroundColor: '#fe2120'
                    }]
                },
                options: {
                    scale:{
                        ticks:{
                            suggestedMin: 0,
                            suggestedMax: 100,
                            display : false,
                            maxTicksLimit: 3
                        },
                        pointLabels:{
                            fontSize:12
                        }
                    }
                }
            },
        );
        myRadarChart.options.legend.display = false;
        </script>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="part">
        <p> 
            <span class="redstar"><b>{{data.info.store_grade}}</b></span>
            <span class="graystar"> / 5.0</span>    
        </p>
        <div class="stars" data-percent={{data.info.store_grade}}></div>
        <br>
        <h3 class="revisit">재방문 의사 {{data.info.store_revisit}}%</h3>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <a href="/modify-info/{{name}}" class="modifylink"><i class="fa-solid fa-pencil"></i>&nbsp;가게 정보 수정하기</a>
    </div>
    <table class="table_detailInfo_restaurantInfo">
        <br>
        <tr>
            <h1><th>주소</th>
            <td>{{data.info.store_addr}}</td></h1>
        </tr>
        <tr>
            <th>영업시간</th>
            <td>
                {% if (data.info.store_open == "")and(data.info.store_close =="") %}  <!--영업시간 미입력 시 공백(등록 정보 없음)-->
                {% else %}
                    {{data.info.store_open}}시 ~ {{data.info.store_close}}시</td>
                {% endif %}
        </tr>
        <tr>
            <th>전화번호</th>
            <td>{{data.info.store_phoneNum}}</td>
        </tr>
        <tr>
            <th>사이트</th>
            <td><a href="{{data.info.store_site}}" style="text-decoration:underline; ">{{data.info.store_site}}</a></td>
        </tr>
        <tr>
            <th>음식 종류</th>
            <td>{{data.info.store_category}}</td>
        </tr>
        <tr> 
            <th>가격대</th>
            <td>{{data.info.store_cost_min}} ~ {{data.info.store_cost_max}}</td>
        </tr>
        <tr>
            <th>주차여부</th>
            <td>
                {% if data.info.store_parking == "unknown" %}    <!--주차여부 미입력 시 공백(등록 정보 없음)-->
                     <span></span>
                {% else %}
                    <span>{{data.info.store_parking}}</span>
                {% endif%}
            </td>
        </tr>
        <tr>
            <th>예약안내</th>
            <td>
                {% if data.info.store_reservation == "unknown" %}    <!--예약여부 미입력 시 공백(등록 정보 없음)-->
                     <span></span>
                {% else %}
                    <span>{{data.info.store_reservation}}</span>
                {% endif %} 
                {% if data.info.store_reservation_link != "" %}
                    <span><a href="{{data.info.store_reservation_link}}"  style="text-decoration:underline;">(예약 페이지로 이동)</a></span>
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <div id="image-text">
            <div><b>사진</b></div><div id="more"><a class="modifylink" href="#">더보기+</a></div>
        </div>
    <div class="image-wrap">
        <br>
        <br>
        <div class="food-images">
            {%for img in img_paths%}
                <img src="{{img}}">
            {% endfor %}
        </div>
    </div>
</div>   
{% endblock main %}