<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="{{url_for('static',filename='css/commonStyles.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/detailInfo_menu.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/detailInfo_restaurantInfo.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/detailInfo_review.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/modifyRestaurantInfo.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/modifyMenu.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/registerMenu.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/registerRestaurantInfo.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/writeReview.css')}}">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" 
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" />

        <title>맛집 상세정보-메뉴정보</title>
    </head>

    <body>
        <!--비회원 상단바-->
        <div id="navbar">
            <div id="logo"><a href="/">Shareat</a></div>
            <div id="login-or-signup">
                <div><a href="/login">로그인</a></div>
                <div>|</div>
                <div><a href="/signup">회원가입</a></div>
            </div>
        </div>
        
        <header>
            <div class="main_image">
                <img src="{{data.img_path}}" alt=Tokyo>
                    <h1 class="main_image_text">{{name}}</h1>
            </div>   
            
            {{data}}
        </header>

    <main>
    {% block main %}

    {% endblock main %}
    </main>

    <footer>
        <div id="footer-content">
            Team 어서오소    
        </div>
    </footer>

</body>

</html>