<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{{url_for('static',filename='css/mainHome.css')}}"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>Shareat</title>
  </head>

  <body>

    <script>
        //[카테고리 선택 체크박스]

        //전체 버튼 클릭 시에 체크박스 전체 선택하기
        function selectAll(selectAll)  {
          const checkboxes 
              = document.getElementsByName('category');
          
          checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked;
          })
        }

        //페이지 로딩 시 선택했던 select option 선택되도록
        $(document).ready(function() {
          $('#category option:contains("{{category}}")').prop("selected",true);
        });
    </script>

    <header>
      <nav class="navbar">
        <a id="logo" href="/">Shareat</a>

        <ul id="login-or-signup">
          {% if session['id'] %}
          <li>
            <a href="/logout"><b>{{session['id']}}님 반갑습니다!</b> logout</a>
            <!--회원 상단바-->
            <li id="profile-logo"><i class="fas fa-light fa-circle-user fa-2x"></i></li>
          </li>
          {% else %}
          <li><a href="/login">로그인</a></li>
          <li>|</li>
          <li><a href="/signup">회원가입</a></li>
          {% endif %}
        </ul>

        <ul id="navbar_menu">
          <li><a href="/registration-restaurant">맛집 등록하기</a></li>
          <li><a href="#category">맛집 목록</a></li>
          <li><a href="/mylist">내가 찜한 맛집</a></li>
          <!--temp(for 과제제출)-->
          <li><a href="/registration-menu">메뉴 등록</a></li>
          <li><a href="/review">리뷰 등록</a></li>
        </ul>
      </nav>

      <div id="header-content">
        <div id="header-left-side">
          <div id="slogan">
            <div>나 만 의&emsp;맛 집 을&emsp;공 유 하 는</div>
            <div>우 리 들 만 의&emsp;맛 집 백 과</div>
          </div>
          <div id="btn-register-restaurant">
            <a href="#" class="btn-slide">
              <span class="slide-top" data-content="Slide">맛집 공유 GO!</span>
              <span class="slide-bottom" data-content="Slide"
                >맛집 등록하기</span
              >
            </a>
            <!-- <button><a href="#">맛집 등록 GO!</a></button> -->
          </div>
        </div>
        <div id="header-right-side">
          <div class="temp">이미지</div>
        </div>
      </div>
    </header>

    <main id="list-location">
      <nav id="category">
        <div id="btn-select-category">
          <button>category</button>

          <div id="chb-select-category">
            <select id="category" name="category" onchange="location=this.value">>
              <option value="{{url_for('list_restaurants', page=i, category='all')}}">전체</option>
              <option value="{{url_for('list_restaurants', page=i, category='한식')}}">한식</option>
              <option value="{{url_for('list_restaurants', page=i, category='중식')}}">중식</option>
              <option value="{{url_for('list_restaurants', page=i, category='일식')}}">일식</option>
              <option value="{{url_for('list_restaurants', page=i, category='양식')}}">양식</option>
              <option value="{{url_for('list_restaurants', page=i, category='아시아')}}">아시아</option>
              <option value="{{url_for('list_restaurants', page=i, category='남미')}}">남미</option>
              <option value="{{url_for('list_restaurants', page=i, category='디저트')}}">디저트</option>
              <option value="{{url_for('list_restaurants', page=i, category='주점')}}">주점</option>
              <option value="{{url_for('list_restaurants', page=i, category='기타')}}">기타</option>
            </select>

            <!-- <input
              id="category1"
              class="chb-category"
              name="category"
              value="{{url_for('list_restaurants', page=i, category='kor')}}"
              type="checkbox"
              onchange="location=this.value"
            />
            <label for="category1">한식</label>
            <input
              id="category2"
              class="chb-category"
              name="category"
              value="중식"
              type="checkbox"
            />
            <label for="category2">중식</label>
            <input
              id="category3"
              class="chb-category"
              name="category"
              value="일식"
              type="checkbox"
            />
            <label for="category3">일식</label>
            <input
              id="category4"
              class="chb-category"
              name="category"
              value="양식"
              type="checkbox"
            />
            <label for="category4">양식</label>
            <input
              id="category5"
              class="chb-category"
              name="category"
              value="아시아"
              type="checkbox"
            />
            <label for="category5">아시아</label>
            <input
              id="category6"
              class="chb-category"
              name="category"
              value="남미"
              type="checkbox"
            />
            <label for="category6">남미</label>
            <input
              id="category7"
              class="chb-category"
              name="category"
              value="디저트"
              type="checkbox"
            />
            <label for="category7">디저트</label>
            <input
              id="category8"
              class="chb-category"
              name="category"
              value="주점"
              type="checkbox"
            />
            <label for="categor8y">주점</label>
            <input
              id="category9"
              class="chb-category"
              name="category"
              value="기타"
              type="checkbox"
            />
            <label for="category9">기타</label>
            <input
              id="select-all"
              class="chb-category"
              name="category"
              value="전체"
              type="checkbox"
              onclick='selectAll(this)'
            />
            <label for="select-all">전체</label> -->
          </div>
        </div>

        <div id="btn-select-sort">
          <button>평점순</button>
          <span> | </span>
          <button>최신순</button>
        </div>
      </nav>

      <!--[맛집 목록]-->
      <section>
        {% if total>0 %} {% for data in datas %}
        <div class="restaurant-item">
          <a href="/detail-info/{{data[0]}}">
            <div class="restaurant-item-box">
              <figure>
                <img
                  class="temp restaurant-img"
                  src="{{data[1].info.img_path}}"
                />
                <!-- <div class="">이미지</div> -->
              </figure>
              <figcaption>
                <div class="restaurant-name">{{data[0]}}</div>
                <div class="restaurant-category">
                  {{data[1].info.store_category}}
                </div>
                <div class="restaurant-point">{{data[1].info.store_grade}}</div>
              </figcaption>
            </div>
          </a>
        </div>
        {% endfor %}
        <!--맛집 목록 넘기기 아이콘 버튼-->
        <!-- <i class="icon-pre-list fa-solid fa-chevron-left"><button></button></i>
        <i class="icon-next-list fa-solid fa-chevron-right"></i><button></button></i> -->
      </section>

      <div class="page=wrap">
        <div class="page-nation">
          <ul>
            <li>
              {% for i in range(page_count) %}
              <a href="{{url_for('list_restaurants',page=i)}}#list-location">{{i+1}}</a>
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>

      {% else %}
      <p>아직 등록된 맛집이 없어요. 맛집을 등록해 주세요!</p>
      {% endif %}
    </main>

    <footer>
      <div id="footer-content">Team 어서오소</div>
    </footer>

  </body>
</html>