<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <link href="{{url_for('static',filename='css/commonStyles.css') }}" rel="stylesheet" />
        <link href="{{url_for('static',filename='css/registerMenu.css') }}" rel="stylesheet" />
		<!--상단바 아이콘-->
        <script src="https://kit.fontawesome.com/8855691a8d.js" crossorigin="anonymous"></script>
    </head>

    <body>
		<!--회원 상단바-->
		<div id="navbar">
			<div id="logo"><a href="/">Shareat</a></div>
			<div id="profile-logo">
				<div><i class="fas fa-light fa-circle-user fa-2x"></i></div>
			</div>
		</div>
		
		<section>
			<div class="menu-title">
				<span class="restaurant-name">{{name}}</span> <span class="menu-title-subMessage">의 대표메뉴를 등록해주세요.</span>
			</div>
			<form action="/submit_menuData_post" method="post" enctype="multipart/form-data">
				<div class="menu-upload">
					<span id=pic> 사진 </span><br>
					<label for="menu-pic">  - 대표메뉴의 사진을 등록해주세요. </label>
					<input type="file" id="menu-pic" name="menu_pic" accept="image/jpeg, image/gif" onchange="addImg()" hidden/>
					<span id="img-name" hidden></span>
				</div>	
				<div class="menu-textbox">
					<label for="menu-name"> 음식명</label>
					<input type="text" class="menu-text" name="menu_name" placeholder="  대표메뉴명을 입력 해주세요."><br>
					<label for="menu-price"> 가격</label>
					<input type="text" class="menu-text" name="menu_price" placeholder="  대표메뉴의 가격을 입력 해주세요."><br>
				</div>	
				
				<div class="extra-checkbox">
					<input type="checkbox" id="extra-ve" name="extra_ve" value="y">
					<label for="extra-ve"> vegeterian </label><br>
					<input type="hidden" id="extra-ve" name="extra_ve" value="n">
					<input type="checkbox" id="extra-al" name="extra_al" value="y">
					<label for="extra-al"> allergy </label><br>
					<input type="hidden" id="extra-al" name="extra_al" value="n" >
				 </div>
				 
				<div class="menu-buttons">
					<input type="button" class="menu-cancelbutton" value="취소" onclick=menucancelBox()>
					<input type="submit" class="menu-submitbutton" value="등록" onclick=menusubmitBox()>
				</div>

				<input type="hidden" name="store_name" value="{{name}}">
				
			</form>
		</section>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>