{% extends "common.html" %}
<head>    
    <title>회원가입</title>
</head>
{% block main %}
    <!-- Page Content-->
    <section>
        <div class="main-container">
            {% with mesg = get_flashed_messages() %}
            {% if mesg !=[] %}
                <script>alert("{{ mesg[0] }}")</script>
            {% endif %}
            {% endwith %}
            
            <form action="/submit_signupData_post" method="post">
            <div class="login-input-section-wrap">
                <h1><br>회원가입<br><br></h1>
                <table>
                    <tr>
                        <td class="td1">아이디 *</td>
                        <td><input name="memberInfo_id" class="text-area" required placeholder="3자 이상" type="text" minlength="3"></input></td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                        <td class="td1">비밀번호 *</td>
                        <td><input name="memberInfo_password" class="text-area" required placeholder="4자 이상 15자 이하" type="password" minlength="4" maxlength="15"></input></td>
                    </tr> 
                    <tr><td><br></td></tr>
                    <tr>
                        <td class="td1">비밀번호 재확인 *</td>
                        <td><input name="memberInfo_rePassword" class="text-area" required placeholder="4자 이상 15자 이하" type="password" minlength="4" maxlength="15"></input></td>
                    </tr> 
                    <tr><td><br></td></tr>
                    <tr>
                        <td class="td1">생년월일</td>
                        <td><input name="memberInfo_birthDate" class="text-area" type="date"></input>
                    </tr> 
                    <tr><td><br></td></tr>
                    <tr>
                        <td class="td1">성별</td>
                        <td>
                            <input type="hidden" name="memberInfo_sex" size="60" value="unknown" checked  />
                            <input type="radio" id="male" name="memberInfo_sex" value="male"/>&nbsp;남 &nbsp;&nbsp;&nbsp;
                            <input type="radio" id="female" name="memberInfo_sex" value="female"/>&nbsp;여
                        </td>
                    </tr> 
                </table>
                <br><br>
                <button class="sign-button-wrap" type="submit" value="Sign up">Sign up</button>
                <br><br>
            </div>
            </form>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
{% endblock main %}