{% extends "common.html" %}

{% block main %}
<section>
	<div class="review-title">
		<span class="restaurant-name">{{name}} </span><span class="review-title-subMessage"> 에 대한 솔직한 리뷰를 써주세요.</span>
	</div>
	<form action="/submit_reviewData_post" method="post" enctype="multipart/form-data">
		<div class="review-grade">
			<input class="slider slider-progress" type="range" step="0.1" min="0.0" max="5.0" value="2.5" id="Range" name="Range" /> <span id="grade" > 0.0</span>  
		</div>
		<div class="keyword">
			<p class="keyword-subMessage">이 가게의 매력 포인트를 선택해주세요.</p>
			<!--
			<input type="button" onclick="selectKW1()" class="keyword-button" value="맛" id="맛" name="taste">
			<input type="button" onclick="selectKW2()" class="keyword-button" value="가성비" id="가성비" name="cost">
			<input type="button" onclick="selectKW3()" class="keyword-button" value="서비스" id="서비스" name="service">
			<input type="button" onclick="selectKW4()" class="keyword-button" value= "위생" id="위생" name="cleanliness"> 
			<input type="button" onclick="selectKW5()" class="keyword-button" value="분위기" id="분위기" name="atmosphere">-->

			<input type="checkbox" id="taste" name="taste" value="y">
			<label for="taste">맛 </label>
			<input type="hidden" id="taste" name="taste" value="n">
			<input type="checkbox" id="cost" name="cost" value="y">
			<label for="cost">가성비 </label>
			<input type="hidden" id="cost" name="cost" value="n" >
			<input type="checkbox" id="service" name="service" value="y">
			<label for="service">서비스 </label>
			<input type="hidden" id="service" name="service" value="n" >
			<input type="checkbox" id="cleanliness" name="cleanliness" value="y">
			<label for="cleanliness">위생 </label>
			<input type="hidden" id="cleanliness" name="cleanliness" value="n" >
			<input type="checkbox" id="atmosphere" name="atmosphere" value="y">
			<label for="atmosphere">분위기 </label> </label>
			<input type="hidden" id="atmosphere" name="atmosphere" value="n" >
		
			
			<span class="keyword-revisit">
				<input type="checkbox" id="re" name="revisit" value="y">
				<label for="re"> 재방문의사 </label>
				<input type="hidden" id="re" name="revisit" value="n" >
			</span>
		</div>
		<div class="text-boxes">
			<input type="text" class="nickname" placeholder="닉네임" name="nickname" value="익명"><br>
			<textarea class="detail-review" onkeyup="counter(this)" maxlength="2000" placeholder="상세 리뷰를 입력해주세요." name="detail_review"></textarea>
			<div class="length"><span id="lengthtext">0</span>/2000</div>
		</div>	
		<div class="picture-upload">
			<input type="file" id="picture" name="picture">
			<label for="picture"> <span id="plus">+</span></label>
		</div>	
		<div class="review-button">
			<input type="button" class="cancelbutton" value="취소" onclick=reviewcancelBox()>
			<input type="submit" class="submitbutton" value="등록" onclick=reviewsubmitBox()>
		</div>
	</form>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock main %}